<li>
  <div class="info__container">
    <h3>{{product.name}}</h3>
    <div class="info">
      {{product.cat}}
    </div>
    <div class="price">{{product.price}} €</div>
  </div>
  <div class="numbers">
    <button [disabled]="product.numberInCart <= 0" (click)="updateCart('remove')">-</button>
    <input type="number" min='0' (change)='updateCart()' (blur)="updateCart()" [(ngModel)]="product.numberInCart"
      value="{{product.numberInCart}}">
    <button (click)="updateCart('add')">+</button>
  </div>
</li>